.root{
    background-color: #222;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
}

.menu{
    text-decoration: none;
    margin: 1rem;
    color: lightgrey;
    font-family: 'nunito_sansextralight';
    font-weight: 200;
    letter-spacing: 0.6px;
}


.active{
    color:#546A76;
}

/* Små skärmar mobil*/ 
@media screen and (max-width: 829px){
    .root{
        width: 100%;
        justify-content: center;
    }

    .menu{
        margin: 0.5rem;
    }
}    