
.root{
    background-color: #f5eee8;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 6rem;
}

img{
   // width: 50%;
}

.abouttext{
    margin: 2rem 0;
}