.root {
    margin-top: 5rem;
    display: flex;
    //flex: row;
    justify-content: center;
    background-color: #f5eee8;
    width: 60rem;
    margin: 5rem auto;
    padding: 2rem;
}


.contactbox{
    background-color: #f5eee8;
    padding: 2rem;
    display: flex;
    //flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.6px;
    line-height: 1.6rem;
}




.text{
    margin: 2rem;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}



.colorone{
    background-color: #88A0A8;
}
