.root{
    background-color: #222;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
}

.menu{
    text-decoration: none;
    margin: 1rem;
    color: #f5eee8;;
    font-family: 'arcamajora',	sans-serif;
    letter-spacing: 0.6px;
  
}