
.root {
    background-color: #f5eee8;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}

.productimg{
    width: 20rem;
    height: 20rem;
}

.title{
    color: #222;
    font-family: 'nunito_sansextralight';
    font-weight: 200;
    font-size: 1.2rem;
    letter-spacing: 0.6px;
}