
.root{
    width: 60rem;
    margin: 5rem auto;
    background-color: #f5eee8;
    //padding: 4rem;
    display: flex;
    flex-flow: row-reverse;
    font-family: 'nunito_sansextralight';
    font-weight: 200;
    letter-spacing: 0.6px;
}

.info{
    width: 30rem;
    margin-top: 0;
    background-color: #f9f9f9;
    padding: 4rem;

    h2{
        margin: 0;
    }
}


.productPictures{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //margin: 2rem 0;
    width: 30rem;
    padding: 4rem;
}

.picture{
    width: 100%;

    img{
        width: 100%;
    }
}

.smallpictures{
    display: flex;
    align-items: center;
    //justify-content: space-around;
}

.smallpicture{
    width: 25%;
    margin: 0.5rem;
}

