.root {
    margin: 3rem 5rem;
    ul{
        list-style-type: none;
    }
}

.products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}



/* Små skärmar mobil*/ 
@media screen and (max-width: 829px){
    ul{
        padding: 0;
    }

}

