
.root{
    width: 45%;
    margin: 0 auto;
       background-color: #f5eee8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description{
    width: 85%;
    letter-spacing: 0.6px;
    line-height: 1.6rem;
}

.picture{
     width: 80%;
     margin: 2rem 0;
}

.pictures{
   
}

.smallpicture{
    width: 4rem;

}