.root {
    margin: 5rem;
    ul{
        list-style-type: none;
    }
}

.products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}

.product {
    Product {
    //width: 25%;
    }
    
}